.App {
  text-align: center;
}

.App-nav {
  background-color: rgb(15, 69, 112);
  height: 50px;
  padding: 5px 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.RecipeList {
  display: flex;
  width: 80%;
  justify-content: space-around;
  align-items: center;
  margin: 10px auto;
  text-align: center;
}