.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: rgb(15, 69, 112);
  height: 50px;
  padding: 5px 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.App-intro {
  font-size: large;
}
